html
    head
        title='Productos'
        style
            include styles.css
    body 
        h1='Lista de productos'
        div  
        for product in products
            div    
                p='Id: '+ product.id 
                p='Title: '+ product.title 
                p='Price: '+ product.price               
                img(class='product-img', src=product.thumbnail)