<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/index.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <%=title %>
    <br/>
    <% if(products?.length > 0){ %>
        <table>
            <tr>
                <th>id</th>
                <th>titulo</th>
                <th>price</th>
                <th>thumbnail</th>
            </tr>
        
        <% products.forEach((item)=>{ %>
            <tr>
                <td>
                    <p>
                        <%=item.id%>
                    </p>
                </td>
                <td>
                    <p>
                        <%=item.title%>
                    </p>
                </td>
                <td>
                    <p>
                        <%=item.price%>
                    </p>
                </td>
                <td>
                    <div class="imgContenedor">
                        <img class="imgPrueba" src="<%=item.thumbnail %>"/>
                    </div>
                    
                </td>  
            </tr>  
        <% }) %>
    </table>
    <% } else { %> 
        <h2>No hay productos</h2>
    <% }%>
    <%- include('../partials/footer'); %> 
  </body>
</html>